<mat-card>
    <mat-card-title>Bienvenido a mi portal</mat-card-title>
    <hr>
    <mat-card-content>
        <form [formGroup]="datos" (ngSubmit)="calcular()">
            <mat-form-field appearance="fill">
                <mat-label>Fecha</mat-label>
                <input [matDatepicker]="picker" matInput formControlName="Fecha" placeholder="Fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Unidad</mat-label>
                <mat-select placeholder="Unidad" formControlName="Unidad">
                    <mat-option *ngFor="let unidad of Unidades" [value]="unidad.Id">{{ unidad.cantidad }}</mat-option>
                </mat-select>
            </mat-form-field>&nbsp;&nbsp;

            <mat-form-field appearance="fill">
                <mat-label>Cantidad</mat-label>
                <input type="number" matInput formControlName="Cantidad" placeholder="Cantidad">
            </mat-form-field>&nbsp;&nbsp;
            <button type="submit" mat-raised-button color="primary">
                <mat-icon>done</mat-icon> Agregar
            </button>
            <div  *ngIf="banderaCalculada">
                <hr>
                <h1>{{ nuevaFecha | date:'short'}}</h1>&nbsp;&nbsp;
            </div>
        </form>
    </mat-card-content>
</mat-card>