:host {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

mat-icon {
    cursor: pointer;
}

mat-card {
    position: relative;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.middle {
    vertical-align: middle;
    display: flex;
}